@(junkiesJson : String)

@import info.seltenheim.mate.controllers._
@layout(true, "js/main") {
	<script type="text/javascript">
		var junkiesJson = @Html.apply(junkiesJson);
	</script>
	@if(flash().get("errorMessage") != null) {
	            <div style="color: red; font-weight: bold;position: absolute;background: #ddd;border: black 3px solid;padding: 5px;left: 44%;top: 20%;">
	            	@flash().get("errorMessage")
	            </div>
	}
<div class="row" id="table-container">
	<table id="junkyTable" class="table table-striped">
		<thead>
			<tr>
				<th class="user_name">Wer?</th>
				<th class="count_button">Durst!</th>
				<th class="pictures">Schon so viel?</th>
				<th class="counter">gez&auml;hlt</th>
				<th class="remain">&uuml;brig</th>
			</tr>
		</thead>
		<tbody id="junky-container">

		</tbody>
		<tfoot>
		<tr>
			<th class="user_name">Team</th>
			<th></th>
			<th></th>
			<th class="counter">Total bottles</th>
			<th id="totalCount">0</th>
		</tr>
		</tfoot>
	</table>
</div>


<div class="row" id="addMoney-container">

</div>

<div class="row" id="addMate-container">

</div>

<div class="row" id="newUser-container">

</div>

<div id="undoCount-container">
</div>
}
