@(useRequire: Boolean)

@import info.seltenheim.mate.controllers._

@menuEntry(route: String, title: String) = {
	<li @if(request.uri.equals(route)) {class="active"}>
		<a href="@route">@title</a>
	</li>	
}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Matenbank</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/mate.css")">
        @if(useRequire) {
        <script type="text/javascript" data-main="@routes.Assets.versioned("js/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.min.js")"></script>
        }
        
    </head>
    <body>
		<nav class="navbar navbar-default navbar-static-top navbar-inverse"
			role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/">Matenbank</a>
				</div>
				<div class="collapse navbar-collapse">
         			<ul class="nav navbar-nav">
         				@menuEntry("#/settings","Settings")
         				@menuEntry("#/log","Junky Log")
          			</ul>          			
        		</div>
			</div>
		</nav>
	
		<div class="container-fluid" ng-view></div>
    </body>
</html>