*
!.gitignore
!asterisk.conf
!changelog
!compat
!control
!copyright
!docs
!dummyprogs
!dummyprogs/**
!modules.conf
!patches
!patches/**
!README
!rules
!*.default
!*.dirs
!*.init
!*.install
!*.links
!*.logrotate
!*.postinst
!*.postrm
!*.prerm
!*.startup.conf
!source
!source/**


!configs
!configs/**
!apache*
!res
!res/**
