Source: mate-db
Section: unknown
Priority: extra
Maintainer: Julius Seltenheim <contact@julius-seltenheim.com>
Build-Depends: debhelper (>= 8.0.0), unzip, openjdk-7-jdk
Standards-Version: 3.9.4

Package: mate-db
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openjdk-7-jre-headless
Recommends: apache2
Description: Database for mate junkies
